*, *:before, *:after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html, body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: 0;
  background: whitesmoke;
  color: rgba(0, 0, 0, 0.84); }

::-moz-selection {
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.84); }

::selection {
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.84); }

::-moz-selection {
  color: whitesmoke;
  background: rgba(0, 0, 0, 0.84); }

a, a:active, a:focus {
  outline: none; }

button, button:active, button:focus {
  outline: none; }

button:active, button:focus {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25); }

a {
  color: rgba(0, 0, 0, 0.84);
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.84);
  -webkit-transition: all 200ms ease-out 0s;
  transition: all 0.20s ease-out 0s; }
  a:visited {
    color: rgba(0, 0, 0, 0.84);
    text-decoration: none; }
  a:hover, a:active {
    border-bottom: 1px solid #888;
    opacity: 0.76;
    text-decoration: none; }

h1 {
  font-family: "Miniver", serif;
  font-size: 44px;
  line-height: 1em;
  margin: 20px 0; }

h2 {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 24px;
  margin: 0 0 15px; }
  h2 span {
    font-weight: normal; }

p {
  font-size: 17px;
  line-height: 1.7em;
  margin: 0 0 7px 0; }

body {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

main {
  width: 100%;
  max-width: 420px;
  padding: 0 10px; }

article {
  padding: 10px 0px;
  margin: 30px 0px; }

iframe {
  border: 0;
  width: 100%;
  height: 120px;
  margin-bottom: 15px; }

.iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden; }

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media screen and (max-width: 374px) {
  h1 {
    font-size: 37px; } }
