@import "_variables.scss";
@import "_nav.scss";
@import "_link-heading.scss";

body {
  border-top: 7px solid $font-color;
  display: flex;
  flex-flow: row wrap;
  align-items: top;
  justify-content: center;
  padding-top: 15px;
}

main {
  width: 100%;
  max-width: 420px;
  padding: 0 10px;
  text-align: left;
}

// MOVIES

td.name {
  min-width: 80px;
}

.floated-img {
  width: 70px;
  float: right;
  filter: sepia(100%) brightness(0.9);
}


@media screen and (max-width: 374px) {
  h1 {
    font-size: 37px;
  }
}
