//text-related
$primary-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$secondary-font: 'Miniver', serif;


//colours
$font-color: #513d3c;
$link-color: #513d3c;
$background: #ebd5b3;
// $font-color: rgba(0,0,0,0.84);
// $link-color: #888;
// $background: rgb(245,245,245);
