td.name {
  min-width: 80px; }

.floated-img {
  width: 70px;
  float: right;
  -webkit-filter: sepia(100%) brightness(0.9);
  filter: sepia(100%) brightness(0.9); }

@media screen and (max-width: 374px) {
  h1 {
    font-size: 37px; } }
