body.movies {
  border-top: 6px solid $font-color;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

main {
  width: 100%;
  max-width: 774px;
  display: flex;
  flex-flow: row wrap;
}

article.movies {
  position: relative;
  width: 250px;
  height: 375px;
  background-size: cover;
  // background-blend-mode: hue;
  background-blend-mode: color;
  margin: 4px;
}

article.movies::after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(32,32,32,0.9);

  transition: all 0.20s ease 0s;
}

article.movies:hover::after {
  background: rgba(32,32,32,0);
}

@media screen and (max-width: 374px) {
  h1 {
    font-size: 37px;
  }
}
